.boxindent{
    margin-left: 10px;
}

.Dropdown_Color{
    background-color:#E7E7E7!important;
    color:#878787;
    font-family: 'Noto Sans Thai', sans-serif !important;
    /* overflow-y: scroll; */
}
.Dropdown_Size{
    width: 30px;
    height: 30px;
}
.Form_Color{
    background-color: #E7E7E7;
    color:#878787;
    font-family: 'Noto Sans Thai', sans-serif !important;
}
.indentText_Line1{
    margin-left:232px;
}
.indentText_Line2{
    margin-left:30px;
}
.indentText2_Line2{
    margin-left:104px;
}
.indentText3_Line2{
    margin-left: 135px;
}
.indentBox_Line1{
    margin-left:50px;
}
.indentBox_Line2{
    margin-left: 30px;
}
.indentText1_Line3{
    margin-left:-30px;
}
.indentText2_Line3{
    margin-left:130px;
}
.indentText3_Line3{
    margin-left: 90px;
}
/* .indentBox_Line3{
    margin-top: -25px;
}  */
.indentBox1_Line3{
    margin-left:30px;
}
.indentBox2_Line3{
    margin-left: 30px;
}
.indentText_Line4{
    margin-left: -222px;
}
.indentBox_Line4{
    margin-left: -147px;
}

.AddAdr__BtnPos{
    position: absolute;
    margin-top: 0px;
}

.AddAddrPage__Noti{
    position: absolute;
    font-size: 14px;
    font-family: 'Noto Sans Thai', sans-serif ;
    color:rgb(244, 68, 68);
    font-weight: 400;
    margin-top: -145px;
    margin-left:528px;
}