@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

.Change__Info .fi{
    color: #9A82CA !important;
    cursor: pointer;
    position: absolute;
}
.Change__Info .fi-ss-eye{
    margin-top: 40px;
    margin-left:330px;
}
.Change__Info .fi-sr-eye-crossed{
    margin-top: 40px;
    margin-left:330px;
}
.Change__Info .fi-rr-exclamation{
    color: #b7b7b7 !important;
    margin-left:355px;
    margin-top: 5px;
}
.ChangePassEye_Pos{
    position: absolute;
    margin-top:-225px;
    margin-left:130px;
}