@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

.Change__Info .fi{
    color: #9A82CA !important;
    cursor: pointer;
    position: absolute;
}
.Change__Info .fi-ss-eye{
    margin-top: 40px;
    margin-left:330px;
}
.Change__Info .fi-sr-eye-crossed{
    margin-top: 40px;
    margin-left:330px;
}
.ChangeEmail__Noti{
    position: absolute;
    font-size: 14px;
    font-family: 'Noto Sans Thai', sans-serif ;
    color:rgb(244, 68, 68);
    font-weight: 400;
    margin-top: -10%;
    margin-left:34%;
}