@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500&display=swap');

.Order_Box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1110px;
    height: fit-content;
    background-color: aqua;
    font-family: 'Noto Sans Thai', sans-serif;
}