@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500&display=swap');

.Profile__Button{
    position: absolute;
    display: flex;
    padding-top: 440px;
}

.Profile__Button button{
    width: 220px;
    height: 50px;
    border: 2px solid #9A82CA;
    box-sizing: border-box;
    border-radius: 14px;
    font-family: 'Noto Sans Thai', sans-serif !important;
}

.Profile__Button .white_Btn{
    background: #ffffff;
    color: #705D96;
}

.Profile__Button .white_Btn:hover{
    background-color: rgb(130, 114, 183);
    color: #F8F8F8;
    border: none;
}
.edit_BtnPos{
    margin-left:400px;
    margin-top: -20px;
}